/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* general rules */
.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: "Rubik", sans-serif;
}


/* header */
.header_container {
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.header_container > p {
    text-align: center;
    line-height: 1.5rem;
    padding-top: 1rem;
}


/* main */
.main_container{
    max-width: 1000px;
    margin: 0 auto;
}

.team-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-cards > article {
    width: calc((100% / 3) - 2rem);
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.5rem;
    background-color: antiquewhite;
    border-radius: .5rem;
    padding-bottom: 1rem;
}

.team-cards > article > img {
    width: 100%;
    border-radius: .5rem .5rem 0 0;
}